[phases.setup]
nixPkgs = ['php82', 'nodejs', 'php82Packages.composer']

[phases.install]
dependsOn = ['setup']
cmds = ['composer install --no-dev --optimize-autoloader', 'npm install']

[phases.build]
dependsOn = ['install']
cmds = ['npm run build', 'php artisan route:cache', 'php artisan view:cache']

[start]
# Kita hanya perlu menjalankan migrasi dan menyalakan server.
cmd = 'php artisan migrate --force --seed && apache2-foreground'